flows.json
[
    {
        "id": "cf66e1a46954b03a",
        "type": "tab",
        "label": "流程6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d95955b16764772a",
        "type": "aedes broker",
        "z": "cf66e1a46954b03a",
        "name": "my first MQTT broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "credentials": {},
        "x": 240,
        "y": 240,
        "wires": [
            [
                "e9ce886595b74f73"
            ],
            [
                "f461d33b3c094b22"
            ]
        ]
    },
    {
        "id": "e9ce886595b74f73",
        "type": "debug",
        "z": "cf66e1a46954b03a",
        "name": "Broker Status Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "f461d33b3c094b22",
        "type": "debug",
        "z": "cf66e1a46954b03a",
        "name": "Broker Publish Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "c333b7b1938b7c0b",
        "type": "inject",
        "z": "cf66e1a46954b03a",
        "name": "publish message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "this is Jack",
        "payloadType": "str",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "e2ee31bdf3fdd586"
            ]
        ]
    },
    {
        "id": "e2ee31bdf3fdd586",
        "type": "mqtt out",
        "z": "cf66e1a46954b03a",
        "name": "",
        "topic": "topic1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42815bd71d239bbc",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "50156cec5a944c6a",
        "type": "mqtt in",
        "z": "cf66e1a46954b03a",
        "name": "client_1",
        "topic": "topic1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "42815bd71d239bbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "f7515017f1b1ec35"
            ]
        ]
    },
    {
        "id": "f7515017f1b1ec35",
        "type": "debug",
        "z": "cf66e1a46954b03a",
        "name": "my subscription",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "42815bd71d239bbc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]